<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="#">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <title>Superhero</title>
</head>

<body>
    <div class="container">
        <div class="my-5 text-center border border-3 border-dark p-2 rounded">
            <h1><a href="/">Superhero Sightings Spring Boot Web App</a></h1>
        </div>

        <div class="border border-3 border-dark p-4 rounded btn-toolbar d-flex flex-column flex-md-row justify-content-around d-grid gap-2 mx-auto">
            <a href="/heros" class="btn btn-outline-primary btn-lg shadow">Hero</a>

            <a href="/powers" class="btn btn-outline-primary btn-lg shadow">Power</a>

            <a href="/organizations" class="btn btn-outline-primary btn-lg shadow">Organization</a>

            <a href="/locations" class="btn btn-outline-primary btn-lg shadow">Location</a>

            <a href="/sightings" class="btn btn-outline-primary btn-lg shadow">Sighting</a>
        </div>
        <div class="row border border-3 border-dark rounded my-5 mx-1">
            <div class="col-md-3 text-center p-3 bg-light border-bottom">
                <span class="h3">Add Power</span>
            </div>
            <div class="col-md-9 text-center p-3">
                <form action="addPower" method="POST">
                    <div class="form-group row my-3">
                        <label for="namePower" class="col-3 col-form-label text-end">
                            Name <span class="text-danger">*</span></label>
                        <div class="col-9">
                            <input type="text" name="name" id="namePower" class="form-control" th:value="${power.name}" placeholder="Name" />
                            <p th:each="error : ${#fields.errors('power.name')}" class="alert alert-danger"
                                th:text="${error}"> Bad name </p>
                        </div>
                    </div>
                    <div class="form-group row my-3">
                        <label for="descriptionPower" class="col-3 col-form-label text-end">
                            Description <span class="text-danger">*</span></label>
                        <div class="col-9">
                            <input type="text" name="description" id="descriptionPower" class="form-control" th:value="${power.description}" placeholder="Description" />         
                               <p th:each="error : ${#fields.errors('power.description')}" class="alert alert-danger"
                                th:text="${error}"> Bad description </p>
                        </div>
                    </div>
                    <div class="btn-toolbar d-flex flex-column flex-md-row justify-content-around d-grid gap-2 mx-auto py-4">
                        <button type="submit" class="shadow btn btn-outline-success">Add Power</button>
                                               <a href="/powers" class="shadow btn btn-outline-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>

</html>
