<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="io" class="ca.lichangzhang.flooringmastery.ui.UserIOImpl" />

    <bean id="dao" class="ca.lichangzhang.flooringmastery.dao.FlooringMasteryDaoFileImpl" />
    
    <bean id="auditDao" class="ca.lichangzhang.flooringmastery.dao.FlooringMasteryAuditDaoFileImpl" />
    
    <bean id="view" class="ca.lichangzhang.flooringmastery.ui.FlooringMasteryView">
        <constructor-arg ref="io" />
    </bean>  
 
         
    <bean id="service" 
          class="ca.lichangzhang.flooringmastery.service.FlooringMasteryServiceImpl">
        <constructor-arg ref="dao"/>     
        <constructor-arg ref="auditDao"/>            
    </bean>

    <bean id="controller" class="ca.lichangzhang.flooringmastery.controller.FlooringMasteryController">
        <constructor-arg ref="service" />
        <constructor-arg ref="view" />
    </bean>    

</beans>
